@tailwind base;

/* Custom base styles below */

@layer base {
    html {
        @apply antialiased;
    }
    body {
        @apply text-midnight bg-white transition-bg-color duration-300 ease-in-out;
    }
    h1 {
        @apply mb-4 text-4xl font-bold leading-tight;
    }
    h2 {
        @apply my-4 text-2xl font-bold leading-tight;
    }
    h3 {
        @apply my-2 text-xl font-bold leading-tight;
    }
    p {
        @apply mb-4 text-gray-800;
    }
    a {
        @apply transition-all duration-200;
    }
    ::selection {
        @apply text-gray-100 bg-gray-500;
    }
}

@tailwind components;

/* Custom component styles below */

@tailwind utilities;

/* Custom utilities styles below */

@layer utilities {
    .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr min(75ch, 100%) 1fr;
    }
    .grid-wrapper > * {
        grid-column: 2;
    }
}
