@tailwind base;

@layer base {
    html {
        @apply antialiased;
    }
    body {
        @apply text-midnight dark:text-gray-100 bg-white dark:bg-midnight;
    }
    h1 {
        @apply mt-8 mb-4 text-3xl font-bold leading-tight;
    }
    h2 {
        @apply mt-8 mb-4 text-2xl font-bold leading-tight;
    }
    h3 {
        @apply my-2 text-xl font-bold leading-tight;
    }
    p {
        @apply mb-4 text-lg text-gray-800 dark:text-gray-400;
    }
    a {
        @apply transition-colors duration-200;
    }
    p a {
        @apply no-underline border-b-2 border-neon-blue dark:border-green font-semibold;
    }
    p a:hover {
        @apply text-neon-blue dark:text-green;
    }
    ::selection {
        @apply text-gray-100 bg-neon-blue dark:bg-green;
    }

    @font-face {
        font-family: Lato;
        src: url(/fonts/lato-bold.woff2) format('woff2');
        font-weight: 700;
        font-style: normal;
        font-display: optional;
    }
    @font-face {
        font-family: Lato;
        src: url(/fonts/lato-regular-italic.woff2) format('woff2');
        font-weight: 400;
        font-style: italic;
        font-display: optional;
    }
    @font-face {
        font-family: Lato;
        src: url(/fonts/lato-regular.woff2) format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: optional;
    }
}

@tailwind components;

@tailwind utilities;

@layer utilities {
    .grid-wrapper {
        @apply grid grid-cols-[1fr,min(75ch,100%),1fr];
    }
    .grid-wrapper > * {
        grid-column: 2;
    }
    .min-h-content {
        @apply min-h-[calc(100vh-13.25rem)];
    }
    .focus-outline {
        @apply focus:outline-none focus:ring-2 focus:ring-neon-blue dark:focus:ring-green;
    }
    .svg-skill-icon {
        @apply inline-block w-12 tablet:w-16;
    }

    @variants hover {
        .glow {
            filter: drop-shadow(0px 0px 6px);
        }
    }
}
